# Ambiente virtual
venv/

# Arquivos compilados do Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Arquivos de dependências
Pipfile.lock

# Logs e arquivos temporários
*.log

# Configurações de IDEs
.vscode/